.body{
    background-image: url(Images/pexels-matt-hardy-2272939.jpg);
    background-size: 10px;
    background-size: cover;
    
}

.header{
    
    background: linear-gradient(to right, blue 33%, white 33%, white 66%, red 66%);
    padding: 10px;
    color: black;
    width: 300px;
    
}

.fieldset{
    background-color: rgb(155, 155, 155);
}

.titre{
    text-align: center;
}

.boite1{
    text-align: center;
    background: linear-gradient(rgba(255, 255, 255, 0.616), white);
    margin: 15px;
}

.BreveduProjet{
    background: linear-gradient(rgba(255, 255, 255, 0.642), white);
    margin: 15px;
    
}