.body{
    background-image: url(Images/pexels-matt-hardy-2272939.jpg);
    background-size: 10px;
    background-size: cover;
    
}

.header{
    
    background-color: #002654;
    padding: 10px;
    color: white;
    width: 300px;
    
}