.body{
    background-image: url(Images/pexels-matt-hardy-2272939.jpg);
    background-size: 10px;
    background-size: cover;
    
}

.header{
    
    background: linear-gradient(to right, blue 33%, white 33%, white 66%, red 66%);
    padding: 10px;
    color: black;
    width: 300px;
    
}

.fieldset{
    background-color: rgb(155, 155, 155);
}

.titre{
    text-align: center;
}

.BreveduProjet{
    background: linear-gradient(rgba(255, 255, 255, 0.885), white);
    width: 500px;
    text-align: center; 
}

.boiteexplicationprojet{
    text-align: center;
}


.Explication1{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 600px;
}

.boiteaspect{
 background-color: rgba(255, 0, 0, 0.866);
 width: 150px;
}

.boitecontenu{
    background-color: #484ffb ;
    width: 180px;
}

.boiteOcé{
border-style:solid; border-color: red;
}


.boiteAdri{
    border-style: solid; border-color: #484ffb;
}
